.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
  margin-left: auto;

  padding-right: 5%;
  margin-bottom: 100px;
  width: 70%;

  position: relative;

  img {
    max-height: 520px;
    height: 100%;
    width: auto;
    border-radius: 16px;
    margin-left: auto;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  position: absolute;
  left: 0;
  // z-index: 10;
  width: 50%;

  h3 {
    font-size: 57px;
    font-weight: 300;
    mix-blend-mode: difference;
    color: var(--primary_difference);
    // margin-bottom: 20px;
  }

  div {
    display: flex;
    align-items: center;

    span {
      font-size: 18px;
      margin-right: 15px;
    }
  }

  button {
    margin-top: 80px;
    background: transparent;
    border: none;
    color: var(--primary);
    font-size: 22px;
  }
}